* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main {
  min-height: calc(100vh - 215px);
  box-sizing: border-box;
}

body {
  margin: 0;
}


a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

.h_top {
  width: 100%;
  background: #5f0080;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 0px 30px;
}

.t_inner {
  position: relative;
  width: 1050px;
  height: 42px;
  font-size: 13px;
}

.t_inner>p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
}

.h_top button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  color: #fff;
  font-size: 20px;
}

.h_bottom {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
}

.user_box {
  font-size: 12px;
  width: 1050px;
  display: flex;
  padding: 10px 0px;
  justify-content: flex-end;
  gap: 8px;
  margin: 0 auto;
}

.user_box>a:first-child {
  color: #5f0080;
}


.user_box span {
  color: #ccc;
}

.bottom_inner {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_box {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #ccc;
}

.logo_box a {
  color: #ccc;
}

.logo_box .act {
  color: #5f0080 !important;
}

.search_box {
  position: relative;
  right: 50px;
}

.search_box input {
  border: 1px solid #5f0080;
  border-radius: 5px;
  line-height: 50px;
  width: 400px;
  text-indent: 30px;
}

.search_box label {
  position: relative;
  right: 50px;
  top: 3px;
  color: #5f0080;
  font-size: 20px;
}

.icon_box {
  width: 135px;
  display: flex;
  justify-content: space-between;
}

.icon_box a {
  font-size: 20px;
}

.nav_wrap {
  width: 1050px;
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_wrap .category_btn>.menuBtn {
  margin-right: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.nav a {
  position: relative;
}

.nav a:hover {
  color: #5f0080;
}

.nav a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #5f0080;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: 0.3s;
}

.nav a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.delivery_btn {
  gap: 4px;
  padding: 8px 16px;
  border-radius: 18px;
  border: 1px solid rgb(238, 238, 238);
  color: rgb(102, 102, 102);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.delivery_btn>span {
  color: #5f0080;
}

/* 메인 서식 */
main {}

.cont {
  padding: 40px 0px;
  width: 100%;
  text-align: center;
}

.cont h3 {
  font-size: 28px;
  font-weight: normal;
  padding-top: 30px;
}

.cont span {
  font-size: 16px;
  color: #999;
}

.cont div {
  width: 1050px;
  margin: 0 auto;
}

.cont div ul {
  width: 1050px;
  display: flex;
  justify-content: space-around;
}

.cont div ul li {
  position: relative;
  text-align: left;
  padding: 30px 10px;
  width: 25%;
}

.cont div ul li:nth-child(n + 5) {
  display: none;
}

.cont div ul li img {
  width: 100%;
}

.product_title {
  color: #222 !important;
}

.product_price {
  position: absolute;
  bottom: 0px;
  color: #222 !important;
  font-weight: bold;

}

/* 푸터 서식 */
footer {
  text-align: center;
  background: #333;
  color: #fff;
  line-height: 60px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  display: block;
}
