.login_page {
  padding-top: 100px;
  box-sizing: border-box;
}

.login_page form {
  width: 360px;
  margin: 0 auto;
  align-items: center;
  box-sizing: border-box;
}

.login_page fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.login_page fieldset legend {
  padding-bottom: 60px;
  font-size: 20px;
  font-weight: bold;
}

fieldset input {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 340px;
  padding: 18px 0px;
  text-indent: 10px;
}

/* 아이디 찾기 비밀번호 찾기 */
.find_link {
  width: 340px;
  display: flex;
  justify-content: flex-end;
  gap: 3px;
  font-size: 12px;
}

a {
  color: #333;
  text-decoration: none;
}

/*버튼 서식*/
.btn_group {
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.btn_group button {
  width: 100%;
  padding: 17px 0px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn_group button[type="submit"] {
  background: #5f0080;
  color: #fff;
}

.btn_group button[type="button"] {
  background: #fff;
  border: 1px solid #5f0080;
  color: #5f0080;
}
